@{
    ViewBag.Title = "Nosotros";
}
<h2>Proyecto Atlas</h2>
<h3>Que es Atlas</h3>

<p>
    El Proyecto Atlas tiene como obtivo facilitar y optimizar la organizacion de proyectos tanto personales como en equipo. 
    <br />
    Esto recien empieza y nos queda un largo camino por recorrer.
</p>
