@{
    ViewBag.Title = "Atlas";
}

<div class="jumbotron">
    <h1>ATLAS</h1>
    <p class="lead">Gestor de proyectos online.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que es Atlas?</h2>
        <p>
           Atlas es un gestor de proyectos online que le permitira de forma eficiente llevar un control del avance de sus proyectos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Trabaje en equipo</h2>
        <p>
            Cree y trabaje en equipo con Atlas
        </p>
    </div>
    <div class="col-md-4">
        <h2>Dejenos su opinion</h2>
        <p>
            Queremos que Atlas sea construido entre todos y por ello su opinion es muy importante para nosotros.
        </p>
        <p><a class="btn btn-default" href="~/Home/Contact"> Deje su opinion &raquo;</a></p>
    </div>
</div>
